<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Configure Tealium Collect Extension">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tealium Collect Extension Configuration</title>

    <link href="../styles/bootstrap.min.css" rel="stylesheet" />


    <style>
      input:invalid {
        border: 1px solid red;
      }
    </style>
  </head>
<body class="p-3">
  <h1 class="mb-4">Tealium Collect Extension Configuration</h1>
  <form>
    <div class="mb-3">
      <label for="account" class="form-label">Tealium Account</label>
      <input
        type="text"
        id="account"
        class="form-control"
        minlength="0"
        maxlength="500"
        required
      />
      <div class="form-text">(Required) Your Tealium account name.</div>
    </div>

    <div class="mb-3">
      <label for="profile" class="form-label">Tealium Profile</label>
      <input
        type="text"
        id="profile"
        class="form-control"
        value="main"
        minlength="0"
        maxlength="500"
        required
      />
      <div class="form-text">
        (Required) Your Tealium profile name. Enter "main" if you are unsure.
      </div>
    </div>

    <div class="mb-3">
      <label for="dataSourceKey" class="form-label">Data Source Key</label>
      <input
        type="text"
        id="dataSourceKey"
        class="form-control"
        minlength="0"
        maxlength="10"
      />
      <div class="form-text">
        (Optional) Enter the key for this data source from your server-side Tealium configuration. <a href="https://docs.tealium.com/server-side/data-sources/about-data-sources/" target="_blank">Learn More</a>
      </div>
    </div>

    <div class="mb-3">
      <label for="collectUrl" class="form-label">Collect Tag URL</label>
      <input
        type="url"
        id="collectUrl"
        class="form-control"
        minlength="0"
        maxlength="500"
        pattern="^https:\/\/.*"
      />
      <div class="form-text">
        (Optional) Override the default Tealium Collect tag URL with your own custom first-party data hosted file URL, such as: https://example.co.uk/collect.min.js
      </div>
    </div>

    <div class="mb-3">
      <label for="endpoint" class="form-label">Endpoint</label>
      <input
        type="url"
        id="endpoint"
        class="form-control"
        minlength="0"
        maxlength="500"
        pattern="^https:\/\/.*"
      />
      <div class="form-text">
        (Optional) Override the default Tealium Collect event endpoint with your own custom first-party data collection endpoint, such as: https://collect.example.co.uk/event
      </div>
    </div>

    <div class="mb-3">
      <label for="dataObjectName" class="form-label">Data Object</label>
      <input
        type="text"
        id="dataObjectName"
        class="form-control"
        minlength="0"
        maxlength="500"
      />
      <div class="form-text">
        (Optional) The name of a JavaScript variable to use as the data layer object. For example, enter 'digitalData' if you use this as your data layer object.  This extension will automatically use the second param in a _satellite.track call for <a href="https://docs.adobe.com/content/help/en/launch/using/reference/client-side-info/launch-object-reference.html#track" target="_blank">Direct Call</a> events.
      </div>
    </div>

    <div class="form-check mb-3">
      <input
        type="checkbox"
        id="addEventListenerACDL"
        class="form-check-input"
      />
      <label for="addEventListenerACDL" class="form-check-label"
        >Add Event Listener for adobeDataLayer</label
      >
      <div class="form-text">
        (Optional) Automatically track events in adobeDataLayer.  Tracks both default and custom  <a href="https://experienceleague.adobe.com/docs/experience-manager-core-components/using/developing/data-layer/overview.html?lang=en" target="_blank">Adobe Client Data Layer</a> events.
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save Settings</button>
  </form>

    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script>
      var accountInput = document.querySelector('#account'),
        profileInput = document.querySelector('#profile'),
        dataSourceKeyInput = document.querySelector('#dataSourceKey'),
        collectUrlInput = document.querySelector('#collectUrl'),
        endpointInput = document.querySelector('#endpoint'),
        dataObjectInputName = document.querySelector('#dataObjectName');
        addEventListenerACDL = document.querySelector('#addEventListenerACDL');

      window.extensionBridge.register({
        init: function(info) {
          console.log("info.settings");
          console.log(JSON.stringify(info.settings));
          if (info.settings) {
            accountInput.value = info.settings.account;
            profileInput.value = info.settings.profile;
            dataSourceKeyInput.value = info.settings.dataSourceKey;
            collectUrlInput.value = (info.settings.collectUrl === undefined) ? "" : info.settings.collectUrl;
            endpointInput.value = info.settings.endpoint;
            dataObjectInputName.value = info.settings.dataObjectName;
            addEventListenerACDL.checked = info.settings.addEventListenerACDL;
          }
        },

        getSettings: function() {
          return {
            account: accountInput.value,
            profile: profileInput.value,
            dataSourceKey: dataSourceKeyInput.value,
            collectUrl: collectUrlInput.value,
            endpoint: endpointInput.value,
            dataObjectName: dataObjectInputName.value,
            addEventListenerACDL: addEventListenerACDL.checked
          }
        },

        validate: function() {
          return accountInput.checkValidity() &&
            profileInput.checkValidity() &&
            dataSourceKeyInput.checkValidity() &&
            collectUrlInput.checkValidity() &&
            endpointInput.checkValidity() &&
            dataObjectInputName.checkValidity() &&
            addEventListenerACDL.checkValidity();
        }
      });
    </script>
  </body>
</html>

